@model IEnumerable<tniTestSite.Api.EstimatedMeteringDevices.EstimatedMeteringDeviceViewModel>

@{
    ViewData["Title"] = "GetEMDeviceByYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Все расчетные приборы учета в 2018 году.</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
